@charset "UTF-8";
body, #mainWrapper {
    height: 100%;
    background-color:rgb(245, 245, 245);
}
 
body, .form-control{
    font-size:12px!important;
}
 
.floatRight{
    float:right;
    margin-right: 18px;
}
 
.has-error{
    color:red;
}
 
.generic-container {
  
  width:80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}
 
.custom-width {
    width: 90px !important;
}

.center{
	text-align: center;
}
.text-serbia{
	background: lightblue;
	Raleway: sans-serif;
	padding: 0.2em;
	color: white;
	 box-shadow: 0 0 30px #5f95af;
}

.about-text{
	    font-size: 3em;
    text-align: center
}
.about-mt{
	margin: 3em;
}
.img-holder{
	margine-right: 1em;
}
.img{
	float: left;
	width: 200px;
	height: 200px;
	margin-right: 1em;
    margin-top: 1em;
}
#mt{
	margin-top: 1.3em;
	margin-botom: 1em;
	padding: 0.5em;
}

.mt-about-text{
	font-size: 2em;
	Raleway: sans-serif;
    text-align: justify;
    background-color: #EAE7E7;
    padding: 0.5em;
     box-shadow: 0 0 30px black;
}
.login{
	    margin: 2em;
    padding: 1em;
}